html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  overflow-y: auto;
}

.storm-message {
  animation: fadeIn 5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.storm-button {
  animation: fadeIn 5s ease-in-out;
}